* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: poppin;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Ruwudu;
  src: url(..//fonts/Ruwudu-Medium.ttf);
}
@font-face {
  font-family: RuwuduBold;
  src: url(..//fonts/Ruwudu-Medium.ttf);
}
@font-face {
  font-family: poppinMedium;
  src: url(..//fonts/Poppins-Medium.ttf);
}
.container {
  display: flex;
  justify-content: start;
}
.dashboard-p {
  font-family: poppinMedium;
}
main {
  width: 100%;
}
.dashboard-header {
  font-family: RuwuduBold;
  color: orange;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 35px;
}
.sidebar {
  background: #474747;
  color: #fff;
  height: 100vh;
  width: 100px;
  position: fixed;
  font-family: RuwuduBold;
  right: 0%;
  transition: all 0.5s;
  box-shadow: rgb(255, 166, 1) 0px 5px 15px;
}
.final-card {
  box-shadow: rgba(85, 172, 3, 0.644) 0px 5px 15px;
  font-family: Ruwudu;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.lazy-loading {
  margin-top: 500px;
  text-align: center;
  font-family: poppin;
}
.logo {
  font-size: 15px;
}
.bars {
  display: flex;
  font-size: 25px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: orange;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: rgb(189, 124, 1);
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
.error_page {
  font-family: Ruwudu;
  color: red;
  font-size: 50px;
}
.product-list {
  list-style: none;
  display: flex;
  font-family: poppin;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 20px;
  margin-right: 170px;
}
.product-list :hover {
  transform: scale(1.04);
  transition: all 0.5s;
}
.product-list-detail {
  list-style: none;
  display: flex;
  max-width: 500px;
  padding: 0;
  margin: 20px;
  margin-right: 170px;
}
.product-item {
  max-width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: rgba(35, 35, 36, 0.2) 0px 7px 29px 0px;
}
@media only screen and (max-width: 768px) {
  .product-item {
    width: 400px;
  }
  .selected-card {
    width: 200px;
  }
}
.product-image {
  max-width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.product-title {
  margin-top: 10px;
  font-weight: bold;
}
.product-button {
  cursor: pointer;
  box-shadow: rgba(254, 140, 1, 0.695) 0px 5px 15px;
  font-family: Ruwudu;
}
.product-button-confirm {
  box-shadow: rgba(22, 101, 6, 0.877) 0px 5px 15px;
}
.product-button-delete {
  cursor: pointer;
  box-shadow: rgba(254, 1, 1, 0.735) 0px 5px 15px;
}
.selected-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  border: none;
}
.pagination-btn {
  padding: 10px;
  border: none;
  background-color: rgb(255, 120, 1);
  border-radius: 10px;
  transition: all 1.5s;
}
.pagination-btn:hover {
  transition: all 0.5s;
  font-weight: bolder;
  border-radius: 50px;
  transition: all 1s;
}
.pagination-num {
  border: none;
  background-color: white;
  margin: 0px 10px 0px 10px;
}

.active-page {
  color: rgb(255, 115, 0);
  font-weight: bolder;
  border: none;
  width: 25px;
  text-decoration: underline;
}
.dashboard-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 12px 2px 20px 5px;
  background-color: rgba(248, 117, 2, 0.908);
  max-width: 600px;
  box-shadow: rgba(63, 62, 60, 0.695) 0px 5px 15px;
}
.dashboard-empty h1 {
  letter-spacing: 5px;
  word-spacing: 20px;
  font-family: poppinMedium;
  margin-bottom: 50px;
}
.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.loading-spinner h5 {
  letter-spacing: 2px;
  font-family: poppinMedium;
}
